[user]
	name = An Nguyen
	email = an.nguyenwasd@gmail.com

[mergetool ""]
  cmd = nvim -f -c \"Gdiffsplit!\" \"$MERGED\"

[core]
	autocrlf = input
	autolf = true
	eol = lf

[alias]
  co  = checkout
	p   = pull
	pp  = push
	pf  = push --force-with-lease
  pt  = push --follow-tags
	ca  = commit -v --amend
	cae = commit -v --amend --no-edit
	cb  = checkout -b
	bdr = push  -d
	sh  = stash -u
	sp  = stash pop
	sl  = stash list
	f   = fetch
	l   = log --graph --pretty='%Cred%h%Creset -%C(auto)%d%Creset %s  %C(bold blue)<%an>%Creset %Cgreen%ar / %ad%Creset %n %b'
	lo  = log --graph --oneline
	r   = rebase
	ri  = rebase -i
	ra  = rebase --abort
	rc  = rebase --continue
	fp  = fetch --prune
  wt  = worktree
  wtf = config remote.origin.fetch "+refs/heads/*:refs/remotes/origin/*"
  dl  = diff -- ':!yarn.lock' ':!package.lock'
[interactive]
[color]
	ui = true
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
[color "diff"]
	meta = 11
	frag = magenta bold
	func = 146 bold
	commit = yellow bold
	old = red bold
	new = green bold
	whitespace = red reverse
[pull]
	rebase = false
[rerere]
	enabled = false
